<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.swp.tsd.trafficsigndetection">

    <!-- Camera access -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- GPS access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Hardware Features -->
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <!-- Restrict to phones and tablets only -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>